!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', }
    %link{:href => "public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "public/css/style.css", :rel => "stylesheet"}
    %title RPS
  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
        %h1 Rock Paper Scissors

    #cuerpo
      .row.span2
        %center
          %h2 User 
          -if (do_it == 'Choose one')
            %h4 Elige uno para esta jugada
            %ol
              -throws.map do |x| 
                %a{:href => "?choice=#{x}", :label=>"#{x}"} 
                  -if ("#{x}" == 'rock')
                    %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra.png", :alt => 'Rock', :id=>'img1'}
                  -elsif ("#{x}" == 'paper')
                    %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel.png", :alt => 'Paper', :id=>'img1'}
                  -else
                    %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras.png", :alt => 'Scissors', :id=>'img1'} 

          -else
            %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra.png", :alt => 'Rock', :id=>'img1'}
            %br
            %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel.png", :alt => 'Paper', :id=>'img1'}
            %br
            %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras.png", :alt => 'Scissors', :id=>'img1'} 

      .row.span8
        #cuerpo2
          .span2
            #imagen
              - if(player_throw == 'rock')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra.png", :alt => 'Rock', :id=>'img1'}
              - elsif (player_throw == 'scissors')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras.png", :alt => 'Scissors', :id=>'img1'}
              - elsif (player_throw == 'paper')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel.png", :alt => 'Paper', :id=>'img1'}
          .span3
            #versus
            -if (player_throw != nil)
              %h2 VS
            -else
              %img{:src=> "http://banot.etsii.ull.es/alu4079/STYW/rps/ring.png", :id=>'ring'}
          .span2
            #imagen
              - if(computer_throw == 'rock')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra.png", :alt => 'Rock', :id=>'img1'}
              - elsif (computer_throw == 'scissors')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras.png", :alt => 'Scissors', :id=>'img1'}
              - elsif (computer_throw == 'paper')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel.png", :alt => 'Paper', :id=>'img1'}
      
        %center
          %br
          %br
          %br
          %br
          %br
          %br
          -if (player_throw != '')
            -if (anwser == 'tied')
              %h2 Empate!
            -elsif (anwser == 'win')
              %h2 Ganaste!
              - if(player_throw == 'rock')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra_wins.jpg", :alt => 'Rock Wins', :id=>'sol'}
              - elsif (player_throw == 'scissors')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras_wins.jpg", :alt => 'Scissors Wins', :id=>'sol'}
              - elsif (player_throw == 'paper')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel_wins.jpg", :alt => 'Paper Wins', :id=>'sol'}
            -elsif (anwser == 'loose')
              %h2 Perdiste!!!
              - if(computer_throw == 'rock')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra_wins.jpg", :alt => 'Rock Wins', :id=>'sol'}
              - elsif (computer_throw == 'scissors')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras_wins.jpg", :alt => 'Scissors Wins', :id=>'sol'}
              - elsif (computer_throw == 'paper')
                %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel_wins.jpg", :alt => 'Paper Wins', :id=>'sol'}
              -else
                %h2 Empieza a jugar!!
          %br
          -if (player_throw != nil)
            %a{:href => '/'} 
              .btn.btn-large.btn-primary
                Juega otra vez  

      .row.span2
        %center
          %h2 Computer 
          %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/piedra.png", :alt => 'Rock', :id=>'img1'}
          %br
          %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/papel.png", :alt => 'Paper', :id=>'img1'}
          %br
          %img{:src => "http://banot.etsii.ull.es/alu4079/STYW/rps/tijeras.png", :alt => 'Scissors', :id=>'img1'}
    
  %footer
  .row.span12  
    .footer
      .navbar.navbar-inner.navbar-inverse.container
        .row.span6
          %center
            %h2 El usuario ha ganado: #{cookie} veces
        .row.span5
          %center   
            %h2 Se han jugado #{jugar} veces
        %br
        %h3 Angela Hdez
        %br
        Fotos obtenidas de google imagenes.
        %br   